<!--Footer-->
<footer>
<nav class="navbar navbar-dark bg-primary footer-nav">
    <h6 class="navbar-text text-center mx-2">&copy; Copyright 2024. All rights reserved</h6>
</nav>
</footer>
</body>
</html>